QLabel{
    font-family: Arial, Helvetica, sans-serif
}
QPlainTextEdit {
    border: 1px solid #000000;
    border-radius: 1px;
}
QPushButton {
    background: #005898;
    color: white;
    border: 2px solid #000000;
    border-radius: 4px;
}

QPushButton:hover {
    background: #267394;
}

QLineEdit {
    background-color: white;
    color: black;
    border: 1px solid grey;
}
QComboBox{
    background: #3C93C4;
    color: white;
    border: 1px solid #4F4F4F;
    border-radius: 4px;

}

Title {
    background: #C4C4C4;
    border: 1px solid #4F4F4F;
    border-radius: 13px;
}
