QMainWindow{
    background: url('resources/terminator.jpg') no-repeat;
    
    
}
QPushButton{
    background-color: #005898;
    color: white;
    border-radius: 10%;
    Width:300px;
    height:30px;
}
QPushButton:hover{
    background-color: #267394 ;
    color: black;
    border: 2px solid red;
}
QLabel{
    font-size: 40px;
    text-align: center;
    color:white;
    
}
QPlainTextEdit{
    background-color: #B4BEC8;
    color:white;
}